APP_NAME=Ecommerce API

DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/ecommerce

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ecommerce

JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30